h4 Research Students
p Currently I am working with the following PhD, MSc and BSc Students. If you are interested in collaborating on a topic related to my work please get in touch.
h5 PhD Candidates
ul(class="nav nav-pills flex-column")
    li(class="nav-item")
        a(class="nav-link" href="") Ryan Donovan
    li(class="nav-item")
        a(class="nav-link" href="") Urja Pawar
    li(class="nav-item")
        a(class="nav-link" href="") Muhammad Muneeb Saad
    li(class="nav-item")
        a(class="nav-link" href="") Zachary Dair
h5 MSc Students

h5 BSc Students

h5 Alumni

hr(class="d-sm-none")