include partials/mixins.pug
doctype html
html(lang="en")
    include components/head.pug
    body
        include components/nav.pug
        div(class="container" style="margin-top:30px")
            div(class="row")
                div(class="col-sm-12")
                h1 Affective Computing

                p Affective computing is a key area in which I study human emotions and their computational representation. My work integrates multi-modal sensing—combining speech, facial expressions, and physiological signals—to create holistic models of human affect. The intent is to apply these models to psychology, advance our understanding of personality-emotion interactions, and explore goal-setting strategies to enhance motivation. These innovations align with applied psychology, fostering systems that adapt to human emotional needs and supporting domains like education and healthcare.




    include components/footer.pug