include partials/mixins.pug
    include components/head.pug
    body
        include components/nav.pug
        div(class="container" style="margin-top:30px")
            div(class="row")
                div(class="col-sm-12")
                h1 Artificial Intelligence

                p My Artificial Intelligence (AI) research focuses on ethical and transparent solutions that enhance user trust. I have explored Machine Learning (ML) models for real-world applications, notably in healthcare, addressing critical challenges like data scarcity and decision-making transparency. My work with Generative Adversarial Networks (GANs) has pioneered methods for improving synthetic biomedical data generation, mitigating issues such as mode collapse through adaptive input normalisation. 

                p My efforts in Explainable Artificial Intelligence (XAI) have also introduced interpretable frameworks to ensure end-users can trust AI outputs. These advancements bridge the gap between complex AI models and their real-world utility, fostering societal acceptance and ethical AI deployment.

        include components/footer.pug