include components/head.pug
	body
		include components/nav.pug
		div(class="container" style="margin-top:30px")
			div(class="row")
				div(class="col-sm-12")
					h4(class="text-center") Journal
					+publication_table("journal")

					h4(class="text-center") Conference
					+publication_table("conference")

					h4(class="text-center") Workshop
					+publication_table("workshop")

					h4(class="text-center") Poster
					+publication_table("poster")

					h4(class="text-center") Thesis
					+publication_table("thesis")

		include components/footer.pug
				
