include partials/mixins.pug
doctype html
html(lang="en")
    include components/head.pug
    body
        include components/nav.pug
        div(class="container" style="margin-top:30px")
            div(class="row")
                div(class="col-sm-12")
                    d(class="card-deck")
                        div(class="col-sm-5")
                            +research_topic('Artificial Intelligence','Machine Learning','Generative Adversarial Networks','Explainable Artificial Intelligence (XAI)','./ai.html')
                            +research_topic('Software Engineering', 'Distributed Systems (Web and Cloud-based Architectures)', 'Data Analytics (Real-time analytics, Big Data, Stream Computing)', 'Data Visualisation', './softeng.html')
                        div(class="col-sm-5")
                            +research_topic('E-health','Physiological data','Biomedical image analysis', 'Knowledge Discovery','./ehealth.html')
                            +research_topic('Affective Computing','Affective sensing and simulation','Multi-modal systems for human affect','Applied psychology (Personality, Emotion, Goal-setting)','./ac.html')
            div(class="row")
                div(class="col-sm-12")
                    h4(class="text-center") Phd Students
                    d(class="card-deck")
                        +student_card('Ryan Donovan', './img/ryan_profile.jpg', 'Some quick example text to build on the card title and make up the bulk of the cards content.',  './ryan')
                        +student_card('Urja Pawar','./img/urja_profile.jpg', 'Some quick example text to build on the card title and make up the bulk of the cards content.', './urja')
                        +student_card('Muhammad Saad','./img/muhammad_profile.jpg', 'Some quick example text to build on the card title and make up the bulk of the cards content.', './saad')
                        +student_card('Zac Dair', './img/zac_profile.jpg', 'Some quick example text to build on the card title and make up the bulk of the cards content.', './zac')
            div(class="row")
                div(class="col-sm-12")
                    h4(class="text-center") MSc Students
                    table(class="table table-striped")
                        thead
                            tr
                                th(scope="col") Year
                                th(scope="col") Name
                                th(scope="col") Title
                                th(scope="col") MSc
                        tbody
                            tr
                                th(scope="row") 2022
                                td John Doe
                                td Something Amazing
                                td MSc AI
                            tr
                                th(scope="row") 2
                                td Jacob
                                td Thornton
                                td @fat
                            tr
                                th(scope="row") 3
                                td Larry
                                td the Bird
                                td @twitter

                    h4(class="text-center") BSc Students


        include components/footer.pug