doctype html
html(lang="en")
    include components/head.pug
    body
        include components/nav.pug
        div(class="container" style="margin-top:30px")
            div(class="row")
            h4 Resources
            p This page is not listed just a general container for resources I am using.
            ul
                li https://simpleicons.org
                li https://shields.io
                li https://researcheracademy.elsevier.com/
                    a(href="https://askinglot.com/how-do-i-publish-on-gh-pages") Publish gh-pages

            h5 Design Tools

            ul
                li https://github.com/goabstract/Awesome-Design-Tools
                li https://www.canva.com/
                li https://thenounproject.com/

            h5 Writing
                li LaTeX
                li Overleaf

        include components/footer.pug