include partials/mixins.pug
doctype html
html(lang="en")
    include components/head.pug
    body
        include components/nav.pug
        div(class="container" style="margin-top:30px")
            div(class="row")
                div(class="col-sm-12")
                h1 Software Engineering
                
                p My work in software engineering encompasses distributed systems and data-driven architectures. I have developed scalable, cloud-based systems for real-time data analytics and stream processing, which are essential for handling Big Data. 

                p This architectural approach enables efficient knowledge extraction from vast datasets, supporting healthcare and IoT applications. Data visualisation plays a pivotal role in my work, where I emphasise intuitive, interactive designs to communicate complex insights effectively. I empower stakeholders to make informed decisions by integrating visual analytics into real-time systems, combining technical precision with user-centric design principles.

        include components/footer.pug