include components/head.pug
body
    include components/nav.pug
    div(class="container" style="margin-top:30px")
        div(class="row")
            div(class="col-sm-10")
                h3 Tools

                h4 Github Education 
                p You should get verified and enrolled for Github Education 
                    a(href='https://github.com/education/students') Sign-up 
                    | - make it happen! 
                    ul 
                        li BSc Students: You should have an email from Admissions stating your student ID and mycit email address. A screenshot of that email should do for registration (include photo of student ID).
                        li MSc Students: Full-time - You should have an email from Admissions stating their student ID and mycit email address. A screenshot of that email should do for registration (include photo of student ID).
                        li MSc Students: Part-time - Your acceptance letter will not suffice as proof. You will require a signed letter stating you are enrolled in a part-time MSc programme.
                h4 Zotero
                p Download and install Zotero
                    ul 
                        li Zotero is a free and open-source reference management software to manage bibliographic data and related research materials (such as PDF files). Please download the desktop application onto your pc/laptop - https://www.zotero.org/download/
                        li An add on for Zotero that lets you pull citation counts should also be installed: 
                            a(href='https://github.com/eschnett/zotero-citationcounts') Zotero Citation Counts 
                        li Add your papers to Zotero (desktop app, not web app)
                h4 Overleaf
                p Setup an account with Overleaf
                    ul 
                        li Overleaf is a collaborative cloud-based LaTeX editor used for writing, editing and publishing scientific documents. Please sign up for an account here 
                            a(href='https://www.overleaf.com/') here.


    include components/footer.pug

